.auth-container {
  display: flex;
  min-height: 100vh;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f6f9;
  overflow: hidden;
}

.auth-left {
  flex: 0.3;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #6a11cb,
    #2575fc,
    #50c9c3,
    #2538fc,
    #6a11cb
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
}

auth-left h1 {
  font-size: 24px;
  color: white;
  text-align: center;
}

.auth-left img {
  max-width: 150%;
  max-height: 150%;
  object-fit: contain;
  z-index: 1;
  margin-left: 200px;
}

.auth-right {
  flex: 1;
  height: 90%;
  background-color: white;
  padding: 40px;
  border-radius: 40px 0px 0px 40px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  overflow: hidden;

  margin-left: -50px;
}

.auth-right h2 {
  font-size: 28px;
  color: #333;
  text-align: center;
  margin-right: 350px;
}
.name-container {
  display: flex;
  gap: 25px;
  align-items: center;
}
.name-container input {
  flex-grow: 1;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid black;
}

.auth-form {
  width: 100%;
  max-width: 700px;

  margin-left: 140px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.auth-form input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 16px;
}
.auth-form label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
}
.auth-form button {
  width: 100%;
  padding: 15px;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.social-buttons {
  display: flex;
  gap: 100px;
  margin-left: 380px;
  margin-top: 30px;
  width: 100%;
}

.social-buttons .google-btn,
.social-buttons .facebook-btn {
  display: flex;
  align-items: center;
  width: 280px;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: white;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.social-buttons .google-btn img,
.social-buttons .facebook-btn img {
  max-width: 25px;
  margin-right: 15px;
}

.social-buttons .google-btn:hover,
.social-buttons .facebook-btn:hover {
  background-color: #f1f1f1;
  transform: scale(1.05);
}

.sign1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -10px;
  margin-right: 350px;
}

p {
  text-align: center;
  color: #666;
  font-size: 14px;
}

p a {
  color: #2575fc;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
.error1 {
  color: red;
  font-size: 12px;
  margin:  -20px;
  }
