body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #03123B;
}

.app {
  display: flex;
  background-color: #03123B;
  height: 100vh;
  width: 100vw;
}
  
  .main-content {
    flex: 1;
    transition: margin-left 0.3s;
  }
  
  
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #03123B;
    color: #fff;
    
  }
  
  .search-box {
    padding: 5px;
    border-radius: 4px;
  }
  .results {
    margin: 20px 0;
  }
  
  .results ul {
    list-style-type: none;
    padding: 0;
  }
  
  .results li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .results p {
    color: #999;
  }
  