.card-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.grid-container {
  min-width: 300px;
 width: 300px;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
  padding: 20px;
}

.grid-item {
  background-color: transparent;
  color: black;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  /* width: calc((100% - 40px) / 3); */
  /* box-sizing: border-box;  */
}

.white-box {
  height: 160px;
  background-color: white;
  min-width: 150px;
  border-radius: 8px;
}

.product-content {
  background-color: #f9fafd33;
  border-radius: 8px;
  height: 35px;
  padding: 12px 10px;
  display: flex;
  color: white;

  justify-content: space-between;
}

.product-name {
  margin-left: 10px;
  font-size: 12px;
}

.product-menu {
  background-color: #f9fafd33;
  padding: 4px;
  border-radius: 6px;
  width: 25px;
  height: 25px;
  position: relative;
}

.product-menu:hover {
  background-color: #787b8233;
}

.menu-img {
  margin-left: 10px;
  margin-top: 4px;
}

/* always make a parent div to align style before mapping*/
.hover-menu-container {
  display: none;
  flex-direction: column;
  width: 150px;
  /* height: 238px; */
  position: absolute; 
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* padding: 10px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
  font-size: 0.9rem;
}

.product-menu:hover .hover-menu-container {
  display: block;
}


/* Never make styling absolute which is getting mapped*/
.hover-menu {
  /* display: none; */
  padding: 13px 23px;
}

.hover-menu:hover{
  background-color:#787b8233 ;
  cursor: pointer;
}

.menu{
  display: flex;
  /*Always check color shou;dn't match it's background*/
  color: black;
  column-gap: 8px;
  justify-content: start;
}



.product-menu:hover .hover-menu {
  display: block; 
  color: black;
}
