.navbar{
   height: 75px;
   background-color: #03123D;
   color: white;
   display: flex;
   flex-direction: row;
   
   gap: 70px;
   
}
.slideimg{
   margin-top: 25px;
   cursor: pointer;
}

.search-box{
   position: absolute;
  top: 25px; 
  right: 25px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; 
  background: transparent;
  color: white;
  text-align:start;

}

.search-img{
  height: 14px;
  width: 15px;
  margin: 30px;
  position: absolute;
  top: 8px;
  right: 150px;
  /* padding: 5px; */

  
  
}
.search-container{
   display: flex;
   flex-direction: row;
}

