.table-container {
  padding: 10px;
  background-color:  #03123D;
  color: white;
  font-family: Arial, sans-serif;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
 margin-left: 50px;
  
}


.table-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.toggle-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #1e293b;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  transition: 0.3s;
}

.toggle-button:hover {
  background-color: #334155;
}

.toggle-icon {
  width: 24px;
  height: 24px;
}

.list-text {
  font-size: 14px;
  font-weight: bold;
}

.secondary-icon {
  opacity: 0.6;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
}

.white-box {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  height: 100px; 
}

.movie-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.movie-name-container {
  display: flex;
  
  align-items: center;
 gap: 5px;
}

.movie-image {
  width: 20px; 
  height: 20px;
 
}

.movie-name {
  font-weight: bold;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  
  
}


.menu-icon {
  width: 24px;
  height: 14px;
  cursor: pointer;
}

.grid-item {
  background-color: #F9FAFD33;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  width: 300px; 
}



table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #334155;
  padding: 10px;
}

th {
  background-color: #1e293b;
}
.list-text {
  font-size: 14px;
  font-weight: bold;
  margin-left: 8px;
}
.menu-icon {
  width:24.33px;
  height: 20px;
  padding: 0px 0px 0px 30px;
  gap: 50px;
  border-radius: 5px 0px 0px 0px;
  opacity: 0px;
  margin-left: 20px;
 
}
.menu-icon1{
  width: 50px;
}
