.video-container {
    position: relative;
    width: 600px;  
    margin-left: 250px; 
    margin-top: 50px;
}

.video {
    width: 600px;  
    height: 400px;
    border-radius: 20px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.play-button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.play-icon {
    width: 50px;
    height: 50px;
}
