/* App.css */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #03123D; */
  color: white;
  padding: 0 1rem;
}

.navbar-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
}

.navbar-logo {
  width: 70px;
}

.slideimg{
  height: 30px;
  cursor: pointer;
}

.search-container{
  display: flex;
  width: fit-content;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 1rem;
}

.search-img{
  /* padding: 5px; */ 
  height: 15px;
}

.search-box{
 padding: 10px;
 border: none;
 background: transparent;
 color: white;
 outline: none;
 margin-left: 8px;
}


.main-content {
  flex: 1;
  transition: margin-left 0.3s;
}

.slide-card-container{
  display: flex;
}