.sidebar {
  width: 210px; 
  height: 100vh;
  background-color: #03123B;
  color: #fff;
  transition: width 0.3s ease;
  overflow: hidden;
  padding: 0 10px;
}

.upload-list{
  background-color: #CB1A80;
  border-radius:6px;
}


.welcome-list{
  background-color: #4D5875;
  border-radius:6px;
  
}

.sidebar.closed {
  width: 50px;
  pointer-events: none;  
  
 }

.sidebar.opened {
  width: calc(100% - 90%); 
  
}

.sidebar-header {
  padding: 15px;
  text-align: center;
  background-color: #03123B;
}

.sidebar-logo {
  max-width: 40%;
  height: 50%;
  transition: max-width 0.3s ease, height 0.3s ease; 
  padding:0 1rem;
  align-items: center;
  
}

.sidebar.closed .sidebar-logo {
  opacity: 0; 
  visibility: hidden; 

}
.sidebar.closed .subtitle{
  opacity: 0;
  visibility: hidden; 
  pointer-events: none; 
}

.sidebar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu li {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 8px;
}

.sidebar-menu li:hover {
  background-color: #444;
  border-radius: 6px;
}

.sidebar-menu .icon {
  margin-right: 19px;
}

.sidebar-menu .title {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.3s ease;
}

.sidebar.closed .title {
  opacity: 0; 
  width: 0; 
}

.sidebar-menu .arrow {
  margin-left: auto;
  transform: rotate(0);
  transition: transform 0.3s ease;
}

.sidebar-menu .arrow.open {
  transform: rotate(90deg);
}

.submenu {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 15px;
}

.submenu .subtitle {
  padding: 8px 15px;
  cursor: pointer;
}

.toggle-btn {
  position: absolute;
  bottom: 20px;
  left: calc(100% - 30px); 
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  background-color: #03123B;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: left 0.3s ease;
}

.sidebar.closed .toggle-btn {
  left: calc(50px - 15px); 
}

.custom-link{
  text-decoration: none;
  color: inherit;
}